
body{
    padding: 0px;
    margin: 0px;
    width: 100%;

}
#siteTitle{
    font-family: 'Roboto Mono', monospace;
 margin: 15px 0px 15px 0px;
font-size: 48px;
text-align: center;
font-weight: bold;
}

#backgroundImg{
    
    height: 900px;
    width: 100%;
    background-size: cover;
}

#textCamp{
    font-family: 'Roboto Mono', monospace;
    text-align:center;
    margin: 15px;
    font-size: 22px;

}

@media screen and (max-width: 1200px){
    #backgroundImg{
        height:300px;
        width: auto;
        background-size:cover;
    }
}
